{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@Actions": "./src/Actions",
                    "@Components": "./src/Components",
                    "@Definitions": "./src/Definitions",
                    "@Interfaces": "./src/Interfaces",
                    "@Pages": "./pages",
                    "@Reducers": "./src/Redux/Reducers",
                    "@Redux": "./src/Redux",
                    "@Services": "./src/Services",
                    "@Server": "./server",
                    "@Static": "./static"
                }
            }
        ],
        [
            "babel-plugin-styled-components",
            {
                "ssr": true
            }
        ]
    ]
}
