//#region Global Imports
import { Props } from 'react';
//#endregion Global Imports

declare module I{{fileName}} {
    export interface IProps extends Props<{}> {
  
    }
    {{#isClass}}
    export interface IState { }
    export interface IStateProps { }
    {{/isClass}}

    {{#isConnectStore}}
    module Actions {
	    export interface IMapPayload { }
		export interface IMapResponse { }
	}
    {{/isConnectStore}}
}