
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    position: relative;
    z-index: 1;
    text-align: center;
    &__back {
        font-size: 100px;
        color: #EEEFF0;
        font-weight: 800;
        line-height: 86px;
    }

    &__front {
        color: #0B1C3D;
        font-size: 38px;
        font-weight: 500;
        position: absolute;
    }   
    &--contact{
        .title__back{
            font-size: 70px;
        }
        .title__front{
            font-size: 38px;
        }
    }
    
}

@media only screen and (max-width: 991px) {
    .title {
        &__front {
            font-size: 32px;
        }

        &__back {
            font-size: 75px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .title {
        &__front {
            font-size: 21px;
        }

        &__back {
            font-size: 50px;
        }
        &--recruitment_title{
            .title__back{
                line-height: 65px;
            }
            .title__front{
                line-height: 35px;
            }
        }
        &--contact{
            display: none;
        }
    } 
}

@media only screen and (max-width: 575px) {
    .title {
        &__back {
            font-size: 40px !important;
        }
        &--recruitment_title{
            .title__back{
                line-height: 53px;
            }
            .title__front{
                line-height: 23px;
            }
        }
        
    }
}