//#region Global Imports
import React from 'react';
//#endregion Global Imports
{{#isHaveStyle}}
import './style.scss';
{{/isHaveStyle}}

//#region Interface Imports
import { {{interfaceName}} } from '@Interfaces';
//#endregion Interface Imports

export const {{camelCaseName}} = (props: {{interfaceName}}.IProps): JSX.Element => (
	<div className="{{kebabCaseName}}">
		<span>{{ camelCaseName }}</span>
	</div>
);
