.container {
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;

  &__top {
    margin: 100px;
  }

  &__middle {
    margin: 100px;
    text-align: center;
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    justify-content: flex-start;

    &__left {
      display: flex;
	  flex: 1 1 1%;

      &__buttons {
		background: #F9DA2E;
		border-radius: 8px;
		font-family: Arial;
		font-weight: 700;
		font-size: 25px;
		color: #4B6C8D;
		letter-spacing: 0;
		width: 55px;
		height: 236px;
		margin-left: 15px;
		padding: 10px 3px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		color: #4B6C8D;

		.active {
			color: #2C3E50;
		}
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
    }
  }

  &__top_text {
    font-size: 110px;
    font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin-bottom: 10px;
  }
}
