import { ActionConsts } from "@Definitions";

/**
 * ACTIONS
*/
export const {{camelCaseName}}Actions = {
	Map: (payload: any) => (
		{
			payload,
			type: ActionConsts.{{camelCaseName}}.SetReducer
		}
	),

	Reset: () => ({
		type: ActionConsts.{{camelCaseName}}.ResetReducer
	})
}