//#region Local Imports
import { ActionConsts } from '@Definitions';
//#endregion Local Imports

//#region Interface Imports
import { IAction, I{{fileName}} } from '@Interfaces';
//#endregion Interface Imports

/**
 * INITIAL_STATE
*/
const INITIAL_STATE: I{{fileName}}.IStateProps = { };

type IMapPayload = I{{fileName}}.Actions.IMapPayload;

export const {{fileName}}Reducer = (state = INITIAL_STATE, action: IAction<IMapPayload>) => {
	switch (action.type) {
		case ActionConsts.{{fileName}}.SetReducer:
			return {
				...state,
				...action.payload
			};

		case ActionConsts.{{fileName}}.ResetReducer:
			return INITIAL_STATE;

		default:
			return state;
	}
};
